body{
    @media screen and(max-width: 200px, 700px, 1200px);
    background-color: rgb(162, 255, 255);
}

/*<div class="kartya" id="12" onclick="click()"><img src="kartya_hatlap.png" alt="kartya_hatlap"></div>*/
img{
    width: 150px;
    margin: 10px;
}

#container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 10px;
}

.kartya{
    flex: 25%;
    background-color: red;
    color: red;
}