@media screen and(max-width: 600px){
    /*body{
        background-color: rgb(162, 255, 255);
    }*/
}

/*#container{
    width: min-content;
    height: min-content;
    margin: auto;
    display: grid;
    grid-template: 
                "a b c d"
                "e f g h"
                "i j k l";
    align-content: space-around;
    justify-content: space-around;
}*/

#container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 10px;
}
    
#item{
    width: 240px;
    height: 240px;
    margin: 20px;
    /*background-color:red;*/
    background-color: greenyellow;
    color: red;
    font-size: 100px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
    /*flex: 20%;*/
}







/*<div class="kartya" id="tizenketto" onclick="click()"><img src="kartya_hatlap.png" alt="kartya_hatlap"></div>*/
/*img{
    width: 150px;
    margin: 10px;
}*/

/*
#container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 10px;
}

.kartya{
    width: 70px;
    height: 200px;
    margin: 10px;
    flex: 25%;
    background-color: red;
    color: red;
}*/