#container{
    background-color: lightblue;
    width: min-content;
    height: min-content;
    display: grid;
    grid-template: 
                "a b c d"
                "e f g h"
                "i j k l";
    align-content: space-around;
    justify-content: space-around;
    }
    
#item{
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color:red;
    color: red;
    font-size: 100px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bolder;
}




/*body{
    @media screen and(max-width: 200px, 700px, 1200px);
    background-color: rgb(162, 255, 255);
}*/

/*<div class="kartya" id="tizenketto" onclick="click()"><img src="kartya_hatlap.png" alt="kartya_hatlap"></div>*/
/*img{
    width: 150px;
    margin: 10px;
}*/

/*#container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 10px;
}

.kartya{
    width: 70px;
    height: 200px;
    margin: 10px;
    flex: 25%;
    background-color: red;
    color: red;
}*/