body{
    background-color: rgb(113, 226, 0);
    color: black;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

#index{
    width: 200px;
    height: 45px;
    font-size: 40px;
}

#buttonId{
    width: 200px;
    height: 75px;
    border-radius: 12px;
    background-color: red;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

#kimenet{
    border-radius: 12px;
    background-color: crimson;
    color: white;
    width: 500px;
    height: 400px;
    margin: auto;
}