#grid {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

#item1{
  background-color: green;
  grid-area: 1/2/6/3;
}
#item2{
  background-color: green;
  grid-area: 2/1/5/4;
}

/*A feladatok megoldásához használj CSS gridet.
Feladat:

1. Hozz létre egy 2 × 2 négyzertácsot.

2. Hozz létre egy 3 × 4-es négyzetrácsot.

3. Hozz létre egy négyzetrácsos mintát, melyben a cellák az alábbi szerint helyezkednek el:
  ×
× × ×
× × ×
  ×*/