#container{
    background-color: lightblue;
    width: min-content;
    height: min-content;
    display: grid;
    grid-template: 
                "a b"
                "c d";
    align-content: space-around;
    justify-content: space-around;
    }
    
#item{
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color:yellow;
}