body{
    background-image: url("iskola.jpg");
    background-repeat: repeat;
    background-position: top;
    background-size: contain;
    background-attachment: fixed;
} 

button{
    border-radius: 12px;
    padding: 15px 20px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 10px 10px;
    margin-bottom: 100px;
    position: fixed;
    width: 150px;
    font-weight: bolder;
}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}

#containerFo{
    background-color: rgb(255, 255, 255, 0.5);
    margin: 20px 70px;
    padding: 10px;
}

#containerFelirat{
    width: 80%;
    height: 80px;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255, 0.8);
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

h1{
    font-size: 50px;
}

#container{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.itemnap{
    margin: 10px;
}

.color{
    background-color: yellowgreen;
    color: black;
}

.basic{
    background-color: black;
    color: white;
}

.hetkoznap{
    margin: 10px auto 10px auto;
    width: 150px;
    padding: 5px 5px 5px 5px;
    font-weight: bolder;
}

.napnev{
    background-color: rgb(255, 255, 255, 0.8);
    width: fit-content;
    height: 100px;
    align-items: center;
    font-size: 80px;
    padding: 0px 5px;
}

.hetvegecolor{
    background-color: darkorchid;
    color: white;
}